@font-face {
  font-family: "Inter";
  src: url("../fonts/InterTight-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "TacticSans";
  src: url("../fonts/TacticSans-Bld.woff2") format("woff2");
}
